# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Test reports & artifacts
reports/
test-results/
coverage/
.nyc_output/

# Playwright
playwright-report/
playwright/.cache/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Build output
dist/
build/

# OS & IDE
.DS_Store
.DS_Store?
._*
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
